<h1>Equipo</h1>
<p>
<h2>Estado</h2>
    <h3>Tu</h3>
    Nivel <input type="number" ng-model="nivel">
    <h3>Tu compañero natural</h3>
    <h3>Tu perro</h3>

<h2>Aliados naturales convocados</h2>
    <div ng-repeat="invocado in invocados track by $index" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{invocado.animal.toUpperCase()}} <small>vida:{{invocado.hp}} <span ng-hide="invocado.perpetuo">turnos:{{invocado.turnos}}</span></small></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <span class="col-xs-6">Vida inicial {{invocado.hp0}}</span>  
                        <span class="col-xs-4">Vida actual</span>
                        <input class="col-xs-2" type="number" ng-model="invocado.hp"/>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{invocado.hp}}" aria-valuemin="-10" aria-valuemax="0" style="width: {{(((invocado.hp>=0?10:10+invocado.hp)/10)*(10/(invocado.hp0+10)))*100}}%;"></div>
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{invocado.hp}}" aria-valuemin="0" aria-valuemax="{{invocado.hp0}}" style="width: {{100*(invocado.hp>invocado.hp0?invocado.hp0:invocado.hp)/(invocado.hp0+10)}}%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span class="col-xs-3"><input type="checkbox" ng-model="invocado.perpetuo"> Perenne</input></span>
                        <span ng-hide="invocado.perpetuo">
                        <span class="col-xs-2">turnos</span>
                        <input class="col-xs-2" type="number" ng-model="invocado.turnos"/>
                        <span class="col-xs-5 label label-warning" ng-show="nivel && invocado.turnos==nivel">todavía no ha aparecido</span>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="comment">notas:</label>
                            <textarea ng-model="invocado.notas" class="form-control" rows="4" id="comment"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-default panel-footer">
                        <div class="row">
                            <span class="col-md-9">Tamaño: {{invocado.tamano}}</span>
                        </div>
                        <div class="row">
                            <span class="col-md-2">Ataque</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-1"></span>
                            <span class="col-md-3">Simple</span>
                            <span class="col-md-6 text-primary">{{invocado.ataque}}</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-1"> </span>
                            <span class="col-xs-3">Completo</span>
                            <div class="col-xs-6 text-primary">{{invocado.ataqueCompleto}}</div>
                        </div>
                        <div class="row">
                            <span class="col-md-2">Salvación</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-1"></span>
                            <span class="col-xs-3">Fortaleza:<span class="text-primary">{{invocado.salvacion.fortaleza}}</span></span>
                            <span class="col-xs-3">Reflejos:<span class="text-primary">{{invocado.salvacion.reflejos}}</span></span>
                            <span class="col-xs-3">Voluntad:<span class="text-primary">{{invocado.salvacion.voluntad}}</span></span>
                        </div>
                        <div class="row">
                            <span class="col-md-1">Especial</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-9 text-primary">{{invocado.especial}}</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <a class="btn btn-primary col-xs-10 glyphicon glyphicon-book" href={{invocado.referencia}}>info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <table width="100%" >
                <tr>
                    <td ng-repeat="delta in deltas" class="btn btn-sm btn-default" ng-click="deltaHp(delta,invocado)">{{delta}} </td>
                </tr>
            </table>
        </div>
    </div>
<button class="btn btn-warning btn-block" ng-click="pasaTurno()">turno</button>

<h2>Nuevo Aliado <small>manual</small></h2>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Nombre: <input ng-model="nnombre" type="text"></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <span class="col-xs-4">Vida inicial </span>
                        <input class="col-xs-3" ng-model="nhp0" type="number"></input>  
                        <span class="col-xs-5"><input type="checkbox" ng-model="nperpetuo"> Perenne</input></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label for="comment">notas:</label>
                            <textarea ng-model="nnotas" class="form-control" rows="5" id="comment"></textarea>
                        </div>
                    </div>
                    <div class="row"> </div>
                    <div class="row">
                        <br>
                        <span class="col-md-12">
                            <button ng-click="invocarManual()" class="btn btn-primary">
                                <span class="glyphicon glyphicon-plus"></span>
                                Añadir
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="panel panel-default panel-footer">
                        <div class="row">
                            <span class="col-md-2">Tamaño:</span>
                            <input class="col-md-9" ng-model="ntamano"></input>
                        </div>
                        <div class="row">
                            <span class="col-md-2">Ataque</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-1"></span>
                            <span class="col-xs-2">Simple</span>
                            <input class="col-xs-8" type="text" ng-model="nataque"></input>
                        </div>
                        <div class="row">
                            <span class="col-xs-1"> </span>
                            <span class="col-xs-2">Completo</span>
                            <input class="col-xs-8" type="text" ng-model="nataqueCompleto"></input>
                        </div>
                        <div class="row">
                            <span class="col-md-2">Salvación</span>
                        </div>
                        <div class="row">
                            <span class="col-xs-1"></span>
                            <span class="col-xs-2">Fortaleza</span>
                            <input class="col-xs-1 input-sm" type="number" ng-model="nfortaleza"></input>
                            <span class="col-xs-2">Reflejos</span>
                            <input class="col-xs-1 input-sm" type="number" ng-model="nreflejos"></input>
                            <span class="col-xs-2">Voluntad</span>
                            <input class="col-xs-1 input-sm" type="number" ng-model="nvoluntad"></input>
                        </div>
                        <div class="row">
                            <span class="col-xs-2">Especial</span>
                            <input class="col-xs-9" ng-model="nespecial"></input>
                        </div>
                        <div class="row">
                            <span class="col-xs-2">Link</span>
                            <input class="col-xs-9" ng-model="nreferencia"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<h2>Aliados naturales disponibles</h2>
<span class="glyphicon glyphicon-search"></span> <input type="search" ng-model="q" placeholder="filtrar.."/> <button ng-show="q" class="btn btn-default glyphicon glyphicon-remove-circle" ng-click="q=''"></button>
<div class="row" ng-repeat="aliado in posibles | filter:q">
    <div class="col-sm-1"><button class="btn btn-primary btn-sm" ng-click="invocar(aliado)"><span class="glyphicon glyphicon-phone-alt"></span> <span class="badge">{{aliado.aliado}}</span></button></div>
    <div class="col-sm-2 text-primary"> <b><a href="{{aliado.referencia}}" target="_blank">{{aliado.animal}}</a></b> <span ng-show="aliado.acuatico" class="glyphicon glyphicon-tint"></span></div>
    <div class="col-sm-9">
        dg:<span class="text-info">{{aliado.dg}}<em class="text-warning">={{aliado.hp}}</em></span>
        a:<span class="text-info">{{aliado.ataque}} </span>
        fa:<span class="text-info">{{aliado.ataqueCompleto}} </span>
        tamaño:<span class="text-info">{{aliado.tamano}}</span>
        especial:<span class="text-warning">{{aliado.especial}}</span>
    </div>
</div>