<h1>Hechizos</h1>
<h2>hechizos por día</h2>
<div ng-repeat="prep in preparacion track by $index">
    <div>
        <span class="col-xs-1">Nivel {{$index}}: </span>
        <input class="col-xs-1" ng-model="prep.capacidad" type="number"/>
        <span class="col-xs-10 text-warning bg-danger" ng-show="getAvaliableSpellsQuantity($index)"> restan: {{getAvaliableSpellsQuantity($index)}}</span>
    </div> 
    <table class="table table-condensed"> 
        <tr ng-repeat="p in prep.preparados track by $index" class="{{p.activo?'success':'warning'}}">
            <td><button class="btn btn-danger glyphicon glyphicon-trash btn-sm" ng-click="removeSpell(prep.preparados,$index)"></button></td>
            <td><b>{{p.nombre}}</b> <span class="small text-muted">salvación: {{p.salvacion}}</span></td>
            <td ng-show="p.referencia"><a href="{{p.referencia}}" target="_blank">{{p.texto}}</a></td>
            <td ng-hide="p.referencia">{{p.texto}}</td>
            <td><button ng-show="p.activo" ng-click="use(p)" class="btn btn-primary glyphicon glyphicon-flash btn-sm"></button></td>
        </tr>
    </table>
</div>
<div>
    Otros elementos recargables diariamente: 
    <input type="text" ng-model="nuevoOtro" placeholder="nuevo elemento"/>
    <button ng-click="addOther()" class="btn btn-primary glyphicon glyphicon-plus"></button>
</div>
<div>
    <table class="table table-condensed"> 
        <tr ng-repeat="otr in otrosDiarios track by $index" class="{{otr.activo?'success':'warning'}}">
            <td><button ng-click="removeOther($index)" button class="btn btn-danger glyphicon glyphicon-trash"></button></td>
            <td>{{otr.nombre}}</td>
            <td><button ng-show="otr.activo" ng-click="use(otr)" class="btn btn-primary glyphicon glyphicon-flash"></button></td>
        </tr>
    </table>
</div>
<p>
    <button class="btn btn-primary btn-block" ng-click="resetDia()">Nuevo Dia</button>
</p>

<h2>Pergaminos disponibles</h2>
<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>Nivel - Pergamino</th>
        <th>Descripción</th>
        <th>Lanzar</th>
    </tr>
    <tr ng-repeat="scroll in listaDePergaminos() | orderBy:['magia.nivel','magia.nombre']">
        <td><span class="badge">{{scroll.cantidad}}</span></td>
        <td>{{scroll.magia.nivel}} - <b>{{scroll.magia.nombre}}</b> <span class="small text-muted">salvación: {{scroll.magia.salvacion}}</span></td>
        <td ng-show="scroll.magia.referencia"><a href="{{scroll.magia.referencia}}" target="_blank">{{scroll.magia.texto}}</a></td>
        <td ng-hide="scroll.magia.referencia">{{scroll.magia.texto}}</td>
        <td><button ng-click="usarPergamino(scroll.magia)" class="btn btn-primary glyphicon glyphicon-flash btn-sm"></button></td>
    </tr>
</table>

<h3 ng-show="preseleccionados.size()">hechizos preseleccionados</h3>
<table class="table table-condensed"> 
        <tr ng-repeat="p in preseleccionados track by $index" class="info">
            <td>
                <button class="btn btn-warning btn-sm btn-sm" ng-hide="addable(p)=='yes'" ng-click="depreselect(p)"><span class="glyphicon glyphicon-trash"></span> <span class=badge>{{p.nivel}}</span></button>
                <button class="btn btn-primary btn-sm btn-sm" ng-show="addable(p)=='yes'" ng-click="addSpell(p)"><span class="glyphicon glyphicon-plus"></span> <span class=badge>{{p.nivel}}</span></button>
            </td>
            <td><b>{{p.nombre}}</b> <span class="small text-muted">salvación: {{p.salvacion}}</span></td>
            <td ng-show="p.referencia"><a href="{{p.referencia}}" target="_blank">{{p.texto}}</a></td>
            <td ng-hide="p.referencia">{{p.texto}}</td>
        </tr>
    </table>

<h2>hechizos disponibles</h2>
<span class="glyphicon glyphicon-search"></span> <input type="search" ng-model="q" placeholder="filtrar.."/> <button ng-show="q" class="btn btn-default glyphicon glyphicon-remove-circle" ng-click="q=''"></button>
<table class="table table-condensed">
    <tr>
        <th>Nivel</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Pergamino</th>
    </tr>
    <tr ng-repeat="hechizo in hechizos | filter:q">
        <td>
            <button class="btn btn-primary btn-xs" ng-show="addable(hechizo)=='yes'" ng-click="addSpell(hechizo)"><span class="glyphicon glyphicon-plus"></span> <span class=badge>{{hechizo.nivel}}</span></button>
          <button class="btn btn-info btn-xs" ng-show="addable(hechizo)=='star'" ng-click="preselect(hechizo)"><span class="glyphicon glyphicon-star"></span> <span class=badge>{{hechizo.nivel}}</span></button>
            <button disabled class="btn btn-xs" ng-show="addable(hechizo)=='no'" ng-click="addSpell(hechizo)"><span class="glyphicon glyphicon-ban-circle"></span> <span class=badge>{{hechizo.nivel}}</span></button>
        </td>
        <td>{{hechizo.nombre}}</td>
        <td ng-show="hechizo.referencia"><a href="{{hechizo.referencia}}" target="_blank">{{hechizo.texto}}</a></td>
        <td ng-hide="hechizo.referencia">{{hechizo.texto}}</td>
                <td>
            <button class="btn btn-xs btn-primary" ng-click="crearPergamino(hechizo)"><span class="glyphicon glyphicon-print"></span></button>
            <span> </span>
            <span class="badge" ng-show="cantidadDePergaminos(hechizo)>0">
                <span ng-show="cantidadDePergaminos(hechizo)>1">{{cantidadDePergaminos(hechizo)}}</span>
                <span class="glyphicon glyphicon-bookmark"></span>
            </span>
        </td>
    </tr>
</table>