<h1>Inventario</h1>
<h2>Bolsa <small>Contenido de la mochila</small></h2>
<form class="row" role="form" id="nuevoItem">
    <div class="form-gro_up form-inline form row">
        <span class="col-xs-1">Nuevo Item:</span>
        <input class="form-control col-xs-2" type="text" ng-model="nuevoNombre" placeholder="Nombre"></input>
        <input class="form-control col-xs-2" type="text" ng-model="nuevaDescripcion" placeholder="Descripcion">
        <input class="form-control col-xs-1" type="number" ng-model="nuevasCargas" placeholder="0">
        <input class="btn btn-primary col-xs-1" type="submit" ng-click="bolsaAdd()" value="añadir">
        <input class="btn btn-warning col-xs-1" type="reset">
    </div>
</form>
<table class="table">
    <tr>
        <th></th>
        <th>Nombre</th>
        <th>Cargas</th>
        <th>Descripción</th>
    </tr>
    <tr ng-repeat="item in bolsa track by $index">
        <td><button class="btn btn-danger glyphicon glyphicon-trash" ng-click="bolsaRemove($index)"></button></td>
        <td>{{item.nombre}}</td>
        <td>
            <input class="col-xs-3" type="number" ng-model="item.cargas">
            <span class="col-xs-1">
                <button class="btn btn-warning glyphicon glyphicon-chevron-down" ng-click="bolsaDecrementa(item)">
            </button></span>
        </td>
        <td>{{item.descripcion}}</td>
    </tr>
</table>