<h1>Magias</h1>
<h2>Magias por día</h2>
<div ng-repeat="prep in preparacion track by $index">
    <div>
        <span class="col-xs-1">Nivel {{$index}}: </span>
        <input class="col-xs-1" ng-model="prep.capacidad" type="number"/>
        <span class="col-xs-10 text-warning bg-danger" ng-show="getAvaliableSpellsQuantity($index)"> restan: {{getAvaliableSpellsQuantity($index)}}</span>
    </div> 
    <table class="table table-condensed"> 
        <tr ng-repeat="p in prep.preparados track by $index" class="{{p.activo?'success':'warning'}}">
            <td><button class="btn btn-danger glyphicon glyphicon-trash btn-sm" ng-click="removeSpell(prep.preparados,$index)"></button></td>
            <td><b>{{p.nombre}}</b> <span class="small text-muted">salvación: {{p.salvacion}}</span></td>
            <td ng-show="p.referencia"><a href="{{p.referencia}}" target="_blank">{{p.texto}}</a></td>
            <td ng-hide="p.referencia">{{p.texto}}</td>
            <td><button ng-show="p.activo" ng-click="use(p)" class="btn btn-primary glyphicon glyphicon-flash btn-sm"></button></td>
        </tr>
    </table>
</div>

<p>
    <button class="btn btn-primary btn-block" ng-click="resetDia()">Nuevo Dia</button>
</p>

<h2>Pergaminos disponibles</h2>
<table class="table table-condensed">
    <tr>
        <th>#</th>
        <th>Nivel - Pergamino</th>
        <th>Descripción</th>
        <th>Lanzar</th>
    </tr>
    <tr ng-repeat="scroll in listaDePergaminos() | orderBy:['magia.nivel','magia.nombre']">
        <td><span class="badge">{{scroll.cantidad}}</span></td>
        <td>{{scroll.magia.nivel}} - <b>{{scroll.magia.nombre}}</b> <span class="small text-muted">salvación: {{scroll.magia.salvacion}}</span></td>
        <td ng-show="scroll.magia.referencia"><a href="{{scroll.magia.referencia}}" target="_blank">{{scroll.magia.texto}}</a></td>
        <td ng-hide="scroll.magia.referencia">{{scroll.magia.texto}}</td>
        <td><button ng-click="usarPergamino(scroll.magia)" class="btn btn-primary glyphicon glyphicon-flash btn-sm"></button></td>
    </tr>
</table>
<h3 ng-show="preseleccionados.size()">hechizos preseleccionados</h3>
<table class="table table-condensed"> 
        <tr ng-repeat="p in preseleccionados track by $index" class="info">
            <td>
                <button class="btn btn-warning btn-sm btn-sm" ng-hide="addable(p)=='yes'" ng-click="depreselect(p)"><span class="glyphicon glyphicon-trash"></span> <span class=badge>{{p.nivel}}</span></button>
                <button class="btn btn-primary btn-sm btn-sm" ng-show="addable(p)=='yes'" ng-click="addSpell(p)"><span class="glyphicon glyphicon-plus"></span> <span class=badge>{{p.nivel}}</span></button>
            </td>
            <td><b>{{p.nombre}}</b> <span class="small text-muted">salvación: {{p.salvacion}}</span></td>
            <td ng-show="p.referencia"><a href="{{p.referencia}}" target="_blank">{{p.texto}}</a></td>
            <td ng-hide="p.referencia">{{p.texto}}</td>
        </tr>
    </table>

<h2>hechizos disponibles</h2>
<div class="input-group">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
    </span> 
    <input class="form-control" type="search" ng-model="q.$" placeholder="filtrar.."/>
    <span class="input-group-btn" ng-show="q.$">
        <button class="btn btn-default" ng-click="q.$=''"><span class="glyphicon glyphicon-remove-circle"></span></button>
    </span>
    <label class="input-group-addon">
        <input type="checkbox" autocomplete="off" ng-model="q.libro"> En el libro</input>
    </label>
</div>
<table class="table table-condensed">
    <tr>
        <th>Nivel</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Pergamino</th>
        <th>Libro</th>
    </tr>
    <tr ng-repeat="hechizo in hechizos | filter:q ">
        <td>
            <button class="btn btn-primary btn-xs" ng-show="addable(hechizo)=='yes'" ng-click="addSpell(hechizo)"><span class="glyphicon glyphicon-plus"></span> <span class=badge>{{hechizo.nivel}}</span></button>
          <button class="btn btn-info btn-xs" ng-show="addable(hechizo)=='star'" ng-click="preselect(hechizo)"><span class="glyphicon glyphicon-star"></span> <span class=badge>{{hechizo.nivel}}</span></button>
            <button disabled class="btn btn-xs" ng-show="addable(hechizo)=='no'" ng-click="addSpell(hechizo)"><span class="glyphicon glyphicon-ban-circle"></span> <span class=badge>{{hechizo.nivel}}</span></button>
        </td>
        <td>{{hechizo.nombre}}</td>
        <td ng-show="hechizo.referencia"><a href="{{hechizo.referencia}}" target="_blank">{{hechizo.texto}}</a></td>
        <td ng-hide="hechizo.referencia">{{hechizo.texto}}</td>
        <td>
            <button class="btn btn-xs btn-primary" ng-click="crearPergamino(hechizo)"><span class="glyphicon glyphicon-print"></span></button>
            <span> </span>
            <span class="badge" ng-show="cantidadDePergaminos(hechizo)>0">
                <span ng-show="cantidadDePergaminos(hechizo)>1">{{cantidadDePergaminos(hechizo)}}</span>
                <span class="glyphicon glyphicon-bookmark"></span>
            </span>
        </td>
        <td>
            <button class="btn btn-xs btn-danger" ng-show="estaEnLibro(hechizo)" ng-click="borrarHechizo(hechizo)"><span class="glyphicon glyphicon-book"></span></button>
            <button class="btn btn-primary btn-xs" ng-show="(! estaEnLibro(hechizo)) && ( cantidadDePergaminos(hechizo)>0) " ng-click="escribirHechizo(hechizo)"><span class="glyphicon glyphicon-edit"></span></button>
        </td>
    </tr>
</table>